/*div {
    border: 1px solid red;
}*/

header {
    background: crimson;
    border-bottom: 1px solid black;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.box, .triviaBox, .nextBox {
    background-color: bisque;
    margin: auto;
    border: 1px solid black;
    padding: 15px;
}

.triviaBox {
    height: 250px;
}

.nextBox {
    height: 75px;
}

/* Centers the button */
#startButton, #nextButton, #timer {
    display: flex;
    align-items: center;
    justify-content: center;
}