/*div {
    border: 1px solid red;
}*/

html {
    height: 100%;
}

body {
    background: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header {
    background: rgba(128, 128, 128, 0.9);
    color: white;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 40px;   
    margin-bottom: 10px;
    text-shadow: 3px 3px black;
}

.timerRow {
    background: gray;
    color: white;
}

#timer {
    text-align: center;
}

.container {
    background-color: rgba(200, 200, 200, 0.9);
    margin: auto;
    padding: 20px;
    box-shadow: 2px 2px 25px rgba(255, 255, 255, 0.7);
}

#startBtn {
    width: 90px;
    height: 40px;
    font-size: 20px;
    background-color: white;
    transition-duration: 0.3s;
}

#api {
    height: 75%;
}

#reset {
    transition-duration: 0.5s;
    border: 1px solid black;
}

#reset:hover {
    transition-duration: 0.2s;
    border: 1px solid white;
    background-color: rgb(255, 105, 105);
    color: white;
    cursor: pointer;
}

#startBtn:hover {
    background-color: rgb(255, 105, 105);
    color: white;
    cursor: pointer;
}

.thisChoice {
    transition-duration: 0.5s;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
}

.thisChoice:hover {
    transition-duration: 0.2s;
    background-color: rgb(255, 168, 168);
}

#greenText {
    color: lightgreen;
}

#redText {
    color: red;
}

/* Media queries */
@media only screen and (max-width: 1199px) {
    .thisChoice {
        font-size: 28px;
    }
}

@media only screen and (max-width: 991px) {
    .thisChoice {
        font-size: 40px;
        text-align: initial;
    }
}

/* @media only screen and (max-width: 767px) {
    .thisChoice {
        font-size: 50px;
    }
} */