/*div {
    border: 1px solid red;
}*/

html {
    height: 100%
}

body {
    background: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header {
    background-color: crimson;
    color: white;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 40px;   
    margin-bottom: 10px;
    text-shadow: 3px 3px black;
}

.container {
    background-color: lightgray;
    width: 960px;
    margin: auto;
    padding: 20px;
}

#startBtn {
    width: 90px;
    height: 30px;
    font-size: 20px;
    background-color: white;
    transition-duration: 0.3s;
}

#startBtn:hover {
    background-color: rgb(255, 105, 105);
    color: white;
}

.answerList {
    display: inline-block;
}

.thisChoice:hover {
    transition-duration: 0s;
    font-weight: bold;
    cursor: pointer;
}