/*div {
    border: 1px solid red;
}*/

body {
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

header {
    background: url("../images/header.jpg");
    color: white;
    border-bottom: 1px solid white;
    text-align: center;
    font-size: 40px;   
    margin-bottom: 10px;
    text-shadow: 3px 3px black;
}

input {
    margin-bottom: 15px;
}

.jumbotron {
    background: url("../images/jumbotron.jpg");
    background-size: cover;
    box-shadow: 2px 2px 25px white;
    height: 250px;
}

.panel {
    background: url("../images/panel.jpg");
    background-size: cover;
    box-shadow: 2px 2px 25px white;
}

#panelHeading{
    background: url("../images/header.jpg");
    color: white;
}

.lowerPanel {
    margin-bottom: 7%;
}

footer {
    background: url("../images/header.jpg");
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0px;
}