<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Eat-Da-Burgers!</title>
	<!-- Favicon -->
	<link rel="icon" href="./assets/img/favicon.png" type="favicon.png" size="16x16">
	<!-- Bootstrap CDN -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<!-- External CSS -->
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- External Logic -->
	<script src="./assets/js/logic.js"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>