/*Check rows/columns*/
/* div {
    border: 1px solid red;
} */

body {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Oxygen', sans-serif;
}

#name {
    font-size: 30px;
    text-shadow: 2px 3px 5px rgb(92, 92, 92);
}

.picture {
    margin-top: 15px;
    margin-bottom: 15px;
}

#headLine {
    text-align: center;
    font-size: 26px;
}

#headLineName {
    text-align: center;
    font-size: 44px;
    font-weight: bold;
    line-height: 45px;
}

#desc {
    text-align: center;
}

.navbar {
    background: rgba(215, 215, 215, 0.9);
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid black;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.pageDesc {
    background: url("../images/PageDescription.jpg");
    background-size: cover;
    color: white;
    text-shadow: 2px 3px 5px rgb(92, 92, 92);
}

.jumbotron {
    background: rgba(220, 220, 220, 0.65);
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    margin-top: 60px;
}

.nav-link{
    transition-duration: 0.5s;
}

.nav-link:hover{
    transition-duration: 0.2s;
    background: rgb(255, 255, 255);
}

.navbar-toggler {
    transition-duration: 0.3s;
    background: rgb(200, 200, 200);
}

.navbar-toggler:hover {
    transition-duration: 0.2s;
    background: rgb(255, 255, 255);
}

a.underline:link {
    color: black;
    text-decoration: none;
}

a.underline:visited {
    color: black;
    text-decoration: none;
}

a.underline:hover {
    color: black;
    text-decoration: none;
}

a.underline:active {
    color: black;
    text-decoration: none;
}

.aboutMeInfo {
    font-size: 16px;
    line-height: 2;
}

.input {
    width: 100%;
}

.box {
    font-size: 20px;
}

.box,
.cardBackGround {
    background: rgb(220, 220, 220);
    border-radius: 7px;
}

.cards {
    transition-duration: 0.3s;
    border-radius: 7px;
    border: 1px solid rgb(220, 220, 220);
    padding: 5px;
    cursor: pointer;
    display: inline-block;
}

.cards:hover {
    transition-duration: 0.1s;
    border: 1px solid rgb(168, 168, 168);
    background: rgb(245, 245, 245);
}

.projects {
    background: rgb(235, 235, 235);
    border-radius: 5px;
}

.projectImg {
    margin: 5px;
    width: 75%;
}

.myBackgroundImg {
    margin-top: 5%;
    width: 40%;
}

.modalProjectImg {
    padding: 5%;
    width: 85%;
}

.projectDesc {
    padding: 7px;
}

.projectName,
.cardProjectName {
    text-align: center;
    text-decoration: underline;
    font-size: 24px;
    font-weight: bold;
}

.projectBtn,
.githubBtn {
    transition-duration: 0.6s;
    border: 1px solid white;
    background: rgb(235, 235, 235);;
    width: 185px;
    cursor: pointer;
    margin-bottom: 10px;
}

#portfolioBtn {
    margin-bottom: 15px;
}

.projectBtn:hover,
.githubBtn:hover {
    transition-duration: 0.1s;
    background: white;
}

#myBackgroundBtn {
    margin-bottom: 15px;
}

#close,
#myBackgroundBtn,
#indivProjects,
#groupProjects {
    transition-duration: 0.6s;
    background: rgb(168, 168, 168);
}

#myBackgroundBtn,
#indivProjects,
#groupProjects {
    width: 160px;
}

#close:hover {
    transition-duration: 0.1s;
    background: rgb(255, 255, 255);
}

#myBackgroundBtn:hover,
#indivProjects:hover,
#groupProjects:hover {
    transition-duration: 0.1s;
    background: rgb(255, 255, 255);
}

#submitBtn,
#resetBtn {
    margin-bottom: 2%;
}

#myBackgroundTitle {
    padding-top: 10px;
}

.backgroundModal {
     margin: auto;
}

.links {
    color: rgb(255, 255, 255);
}

.backgroundDesc {
    text-align: initial;
}

#backToTop {
    margin-top: 20%;
    margin-bottom: 5px;
    margin-right: 5px;
}

#topImg{
    opacity: 0.7;
}

#connect {
    padding: 5px;
    background: grey;
    margin-bottom: 50px;
}

footer {
    background: rgba(215, 215, 215, 0.9);
    border-top: 1px solid black !important;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    left: 0px;
}

.footerText {
    margin: auto;
}

.underline {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
  }
  
  .underline:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: rgb(255, 255, 255);
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  
  .underline:hover:before,
  .underline:focus:before,
  .underline:active:before {
    left: 0;
    right: 0;
  }

/* Begin Modal Content */
.modal-content {
    background: rgba(235, 235, 235, 0.5);
    border: 1px solid black;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5);
    background-size: cover;
    text-align: center;
    margin: auto;
    margin-top: 20%;
    padding: 20px;
    /* width: 800px; */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.3s;
    animation-name: animatetop;
    animation-duration: 0.3s;
}

.myBackgroundModalContent {
    left: -42%;
    width: 187%;
}

#modalText {
    font-size: 38px;
}

/* Background Color when modal appears */
#modalBox {
    background-color: rgba(128,128,128,0.6);
}

/* Modal Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
/* End Modal Content */

/* Media queries */
@media only screen and (max-width: 1199px) {
    .aboutMeInfo {
        line-height: 1.5;
    }
}

@media only screen and (max-width: 991px) {
    .container {
        max-width: 975px;
    }

    #headLineName {
        text-shadow: 2px 3px 5px rgb(92, 92, 92);
        color: white;
        font-size: 60px;
        line-height: initial;
        background: lightgray;
        padding-bottom: 10px;
    }

    #headLine {
        margin-top: 5px;
        font-size: 44px;
        background: lightgray;
    }

    .pageDesc {
        font-size: 48px;
    }

    #myBackgroundTitle {
        background: lightgrey;
        padding-top: initial;
        font-size: 44px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    .picture {
        width: 50%;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 15px;
    }

    #name {
        font-size: 50px;
    }

    .nav-link {
        transition-duration: 0.5s;
        font-size: 30px;
    }

    .nav-link:hover {
        transition-duration: 0.2s;
        background: rgb(255, 255, 255);
    }

    .jumbotron {
        margin-top: 90px;
    }

    .aboutMeInfo,
    #phrase {
        line-height: 2;
        text-align: center;
        font-size: 34px;
    }

    .bulletPoints {
        font-size: 30px;
        text-align: initial;
    }

    #desc {
        background: lightgrey;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 34px;
    }

    .inputType {
        font-size: 30px;
    }

    .input {
        font-size: 32px;
        height: 55px;
    }

    .box {
        font-size: 48px;
    }

    .links {
        color: white;
        font-size: 38px;
    }

    #commentInput {
        height: 100px;
    }

    .navbar-toggler {
        width: 65px;
        height: 65px;
    }

    .projectName {
        text-decoration: none;
        background: lightgrey;
        font-size: 34px;
    }

    .cardProjectName {
        font-size: 22px;
    }

    .projectDesc {
        font-size: 34px;
    }

    .modalProjectImg {
        width: 40%;
    }

    .projectBtn,
    .githubBtn {
        width: 310px;
        font-size: 36px;
        margin: auto;
        margin-bottom: 5%;
    }

    #myBackgroundBtn,
    #indivProjects,
    #groupProjects {
        width: 275px;
        height: 65px;
        font-size: 28px;
    }

    #submitBtn,
    #resetBtn {
        width: 125px;
        height: 55px;
        font-size: 24px;
    }

    #backToTop {
        margin-top: 85%;
    }

    #topImg {
        width: 75px;
    }

    .myBackgroundImg {
        width: 70%;
    }

    .modal-content {
        width: 746px;
        padding: 4%;
        left: -23%;
    }

    .myBackgroundModalContent {
        width: 160%;
        left: -28%;
    }

    #modalText {
        font-size: 44px;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        max-width: 900px;
    }

    .projectName,
    .cardProjectName {
        font-size: 36px;
    }

    .modal-content {
        left: -1%;
        width: 105%;
    }

    #modalText {
        font-size: 48px;
    }

    .btnBlock {
        left: 10%;
    }

    .projectImg {
        width: 45%;
    }

    .myBackgroundImg {
        width: 45%;
    }

    .projectBtn,
    .githubBtn {
        width: 375px;
        float: left;
    }

    #myBackgroundBtn,
    #indivProjects,
    #groupProjects {
        width: 190px;
        height: 50px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 575px) {
    .modal-content {
        width: 80%;
        left: 5px;
    }

    .projectBtn,
    .githubBtn {
        width: 75%;
        font-size: 24px;
    }
}

@media only screen and (max-width: 468px) {
    #myBackgroundBtn,
    #indivProjects,
    #groupProjects {
        margin-top: 5px;
        width: 170px;
        height: 35px;
        font-size: 16px;
    }
}